.home-container{
    display:grid;
    grid-template-columns: repeat(4,minmax(0,1fr));/* 1 instead 4*/
    background-color: #FAFAFA;
}
.section{
    grid-column: 1 /  span 3;
    margin: 0 auto;


}
.sect{
    display:inline-grid

}