.post-container{
    background-color: rgba(0,0,0,0.7);
    position:fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 99999999;
    display:flex;
    justify-content:center;
    transition: transform 150ms ease-out;
    align-items: center;

}
.post-warrp{
    max-height: 550px;
    height:450px;
    width: 400px;background-color:#ffffff;display:flex;
    flex-direction: column;
    justify-content:space-between;
    border-radius:20px

}
.topSection{
display:flex;
align-items:center;
height: 50%;
background-color:transparent;
justify-content:center;
}
.topSection svg{
    font-size:50px;
    cursor: pointer;
    /* background-color:rgba(107,114,128,1) */
}
.bottomSection{
background-color:transparent;
height:50%;
padding-top: 30px;
position: relative;
}
.bottomSection button{
    position:absolute;
    bottom:10px;
    right:10px;
    padding:10px 20px;border:none;
    background-color:rgba(59,130,246,1);
    color: white;
    border-radius: 20px;
    cursor: pointer;
    transition: all 150ms ease-in-out;
}
.bottomSection button:hover{
    opacity: 0.75;
}
.inputContainer{
    width:90%;
    border-bottom: 2px solid black;
    margin-left: 5px;
 
}
.inputContainer input{
    width: 100%;
    border: none;
    
}
.inputContainer input:focus{
    outline: none;
}