.login-container{
    max-width: 350px;
    justify-content: center;
    margin-top: 12px;
    flex-grow: 1;
    margin-left: 35%;
    margin-top: 50px;
}
.login{
    border: 1px solid #dbdbdb;
    width: 350px;
    display:flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1px;
    margin: 0 0 10px;
    padding: 10px 0;
}
.logo {
    width: 50%;
    padding-top: 30px;
}
.logo img{
    max-height: 100%;
    max-width: 100%;
    -o-object-fit: contain;
    object-fit: contain;
   
}
.form-login{
    display: flex;
    flex-direction: column;
    padding-top: 25px;
}
.form-login input{
    background: rgba(250,250,250,1);
    /* flex: 1 0 auto; */
    margin: 0;
    outline: 0;
    overflow: hidden;
    padding: 9px 0 7px 8px;
    text-overflow: ellipsis;
    display: inline-block;
    text-align: start;
    border: 1px  solid rgb(118, 118, 118);
    /* border-color: (rgb(118, 118, 118), rgb(133, 133, 133)); */
    margin-top: 5px;
    width: 250px;

}
.form-login button{
    background-color: #0095f6;
    color: #fff;
    border: 1px solid transparent;
    margin-top: 10px;
    padding: 9px 0 7px 8px;
}
.Or{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-top: 10px;
}
.before-or{
    background-color: #ccc;
    width: 40%;
    height:1px;

}
.after-or{
    background-color: #ccc;
    width: 40%;
    height:1px
}
.or-word{
    font-weight:600;
    color: #8e8e8e;
    font-size: 13px;

}
.login-with-google-login{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top:10px

}
.google{
    color: #385185;
    font-size: 14px;
    font-weight: 600;
    padding-left: 5px;
    /* text-align: center; */
    align-items: center;
}
.google svg{
    margin-left: 5px;
    background-color: #385185;
    color: #fff;
    padding: 2px;
    /* margin-top: 2px; */
}
.forget-password{
    color: #00376b;
    
    font-size: 12px;
    line-height: 16px;
    margin-top: 12px;
    text-align: center;
    padding-bottom: 10px;
}
.account{
    border: 1px solid #ccc;
}
.account a{
    font-weight: 600;
    color: #0095f6;
}
.img-app{
    display: flex;
    align-items: center;
    justify-content:space-around;
    margin-top:-2%
}
.app-store p{
    margin: 10px 20px 10px 20px;
    padding-top:10px
}